@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Flex", sans-serif;
    color: white;


} 
body{
    background: url('assets/bg.jpg');
    width: 100%;
    height:100vh;
    background-size:cover;
    background-position: center;
    display: flex;
    align-items:center;
    justify-content: center;

}
body::before{
    content:"";
    position:absolute;
    width: 100%;
    height:100vh;
    background: rgb(0,0,0,0.15);
    backdrop-filter: blur(15px);


}

.regular-txt{
    font-weight: 600;

}
.main-container{
    border: solid;
    width: 300px;     /*300px*/
    height:496px;
    z-index: 1;
    background: linear-gradient(
        to top,rgb(0,0,0,0.15),
        rgb(255,255,255,0.15));
    border-radius: 12px;
    backdrop-filter: blur(100px);
    padding: 20px;


}
.input-container{
    position: relative;
    margin-bottom: 25px;
}

.city-input{

    width: 100%;
    padding: 10px 16px;
    border-radius:99px;
    border:3px solid transparent;
    background: rgb(0,0,0,0.15);
    outline:none;
    font-weight: 500;
    transition: 0.25s border;
    padding-right: 45px;
    margin-bottom: 20px;
}
.city-input :focus{
    border:3px solid rgb(0,0,0,0.15);

}
  

.city-input ::placeholder{
    color:rgb(255, 255, 255,0.75);

}
.search-btn{
    position:absolute;
    right:16px;
    top: 50%;
    transform: translateY(-50%);/*centrer verticalement */
    background: none;
    display: flex;
    border:none;
    cursor: pointer;


}

/* section weather */
.weather-info{
    display: flex;
    flex-direction:column;
    gap: 6px;
    
   
    

}
.location-date-container{
    
    display: flex;
    justify-content: space-between;
    align-items:center;

}
.location{
    
    display: flex;
    justify-content: space-between;
    align-items:center;



}
.weather-summary-container{

    
    display: flex;
    justify-content: space-between;

}
.weather-summary-img{
    width:120px;
    height:120px;

}
.weather-summary-info{
    text-align: end;
}
.weather-conditions-container{
    
    display: flex;
    justify-content: space-between;


}
.condition-item{
display: flex;
align-items:center;
gap:6px;



}
.condition-item span{
    font-size: 30px;
}
.forecast-items-container{
    display: flex;
    gap: 15px;
    overflow:scroll;
    padding-bottom: 12px;

}
.forecast-items-container::-webkit-scrollbar{
    height: 8px;
}

.forecast-items-container::-webkit-scrollbar-track{
    background: rgb(0,0,0,0.1);
    border-radius:99px;

}
.forecast-item{
    border:solid;
    min-width: 70px;
    background: rgb(255,255,255,0.1);
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px;
    align-items:center;
    border-radius:12px;


}
.forecast-item-img{
    width: 55px;
    height:55px;
}

