body{
    background: url(images/bg2.jpg);
    margin: 0;
    padding:0;
    font-family: "Roboto Flex", sans-serif;
    color:white;
    background-size:cover;
}

.header-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  
}

.search-btn{
    background: white;
    width: 300px;
    border-radius: 20px;
    height:50px;
    border:none;
    margin-left: 500px;
    
}

.input-txt{
    outline:none;
    border:none;
    text-align: center;
    padding: 5px 10px;
}
.infos-weather{
    display: flex;
    background: #B5DFED;
    margin: 30px 100px;
    height:300px;
    border-radius: 20px;
}
.info-city{
    display: flex;
    flex-direction:column;
    gap: 20px;
}
.info-img{
    display: flex;
    align-items: center;
    width: 300px;
   padding: 10px 40px;
    
    

}
