body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Flex", sans-serif;
  color: white;
  background-size: cover !important;
}
.light-body {
  background: url(images/bg2.jpg);
}
.dark-body {
  background: url(images/dark-bg.jpg);
}

.header-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.logo {
  /* color: rgba(23, 79, 104, 0.656); */
  color: white;
  margin-left: 20px;
  font-size: 30px;
}

.search-btn {
  background: white;
  width: 300px;
  border-radius: 20px;
  height: 50px;
  border: none;
  margin-left: 500px;
}

.input-txt {
  outline: none;
  border: none;
  text-align: center;
  padding: 5px 10px;
}
.infos-weather {
  display: flex;
  background: #b5dfed;
  margin: 50px 200px;
  height: 300px;
  border-radius: 20px;
  justify-content: space-between;
  padding-right: 150px;
}
.info-city {
  display: flex;
  flex-direction: column;
  padding-left: -20px;
}
.info-img {
  display: flex;
  align-items: center;
  width: 200px;
  padding: 10px 40px;
}
.image1 {
  width: 300px;
  padding: 10px 10px;
}
